# Set up unityyamlmerge with this guide: https://learn.unity.com/tutorial/working-with-yamlmerge#5feba6a2edbc2a69e6450f9d
# If you're on Windows the path is most likely C:\\Program Files\\Unity\\Hub\\Editor\\2022.3.16f1\\Editor\\Data\\Tools\\UnityYAMLMerge.exe
# Unity merging stuff:
*.cs diff=csharp text
*.cginc text
*.shader text
Documentation/docfxfix.sh eol=lf

*.mat merge=unityyamlmerge eol=lf
*.anim merge=unityyamlmerge eol=lf
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.physicsMaterial2D merge=unityyamlmerge eol=lf
*.physicMaterial merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
*.meta merge=unityyamlmerge eol=lf
*.controller merge=unityyamlmerge eol=lf